body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  width: 70vw;
  height: 70vh;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; /* Fit the full viewport width */
  height: 100%; /* Fit the full viewport height */
  box-sizing: border-box; /* Include padding/border in width/height */
}

.App-logo {
  height: 20vmin; /* Adjust size for better fit */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}





